# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
.vite/

# VSCode
.vscode/

# Firebase
.firebaserc
firebase-debug.log
firebase.json

# Environment
.env
.env.local
.env.*.local

# Mac OS
.DS_Store

# Logs
*.log

# Optional - Editor config
.idea/
*.sublime-project
*.sublime-workspace
node_modules
